<?xml version="1.0" encoding="UTF-8"?>

<!-- config.xml reference: https://build.phonegap.com/docs/config-xml -->
<!--
<widget xmlns     = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "com.grova.whereizer"
        version   = "1.0.0">

    <name>Whereizer</name>

    <description>
        Whereizer Application
    </description>

    <author href="http://phonegap.com" email="support@phonegap.com">
        PhoneGap Team
    </author>
    
    <gap:platform name="android" />

   
    <access origin="*"/>
    

</widget>
-->

<widget id="com.grova.whereizer" 
        version="0.0.1" 
        xmlns="http://www.w3.org/ns/widgets" 
        xmlns:cdv="http://cordova.apache.org/ns/1.0">
    
    <name>Whereizer</name>
    <description>
        A sample Apache Cordova application that responds to the deviceready event.
    </description>
    <author email="dev@cordova.apache.org" href="http://cordova.io">
        Apache Cordova Team
    </author>
    <cdv:platform name="android" />
    <content src="index.html" />
    <access origin="*" />
</widget>